@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #dad8d8;
}

.hero-section {
  background-image: url("/images/hero-image.jpg");
   background-image: -webkit-image-set(
    url("/images/hero-image1x.jpg") 1x,
    url("/images/hero-image2x.jpg") 2x);
  background-image: image-set(
    url("/images/hero-image1x.jpg") 1x,
    url("/images/hero-image2x.jpg") 2x);
}

.hero-main {
    max-width: 800px;
}

.weather-card {
    width: calc(100% - 2rem);
    height: 220px;
    max-width: 290px;
    background-image: url("/images/weather-card-image.jpg");
}
